body{
  background-color:#8f89b1;
}

.top{
  background-color: #e4d2d2;
  display: flex;
  padding: 1%;
  margin: 1%;
  box-shadow: 7px 7px #70709b;
}
.name {
  font-size: 300%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  
}
a{
  text-decoration: none;
  
}

.aboutme{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 300%;
  color: black;
  padding: 1%;
  margin: 1%;
}
.aboutmetext{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 1%;
  margin: 1%;
  font-size: 220%;
  color: rgb(0, 0, 0);
  
}
 
.socials {
  padding: 2%;
  margin: auto;
  width: 95%;
  box-sizing: border-box;
  background-color: #e4d2d2;
  font-size: 220%;
  text-align: center;
  box-shadow: 15px 15px #565683;
  font-family: 'Roboto', sans-serif;
}

.spacer{
  margin: 50px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e4d2d2;
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 40px;
}
.footertext{
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 0; bottom: 0; left: 0; right: 0;
  position:absolute;
  margin: auto;
  height: 27%;
}